.card-container{ padding:10px; }

.card-container .card{
  display:grid;
  grid-template-columns:260px 1fr;
  gap:20px;
  background:#fff;
  border:1px solid #e5e7eb;
  border-radius:14px;
  box-shadow:0 8px 16px rgba(0,0,0,.08);
  overflow:hidden;
}

.card-container .card > img{
  width:100%;
  height:auto;
  display:block;
  object-fit:cover;
}

.card-container .card-body{
  padding:16px;
  display:grid;
  gap:10px;
  padding-top: 30px;
}

.detail {
    margin: 24px 10px;
    font-size: 27px;
    margin-bottom: 12px;
}

.card-container h1{
  margin:0 0 12px;
  font-size:clamp(1.25rem,2.5vw,1.8rem);
}
.card-container .card-body h2{
  margin:0;
  font-size:23px;
}

.card-container .card-body p{
  margin:0;
  line-height:1.5;
  color:#334155;
}

.card-container .card-body strong{
  color: rgb(120,148,33);
  font-weight:700;
}

@media (max-width:720px){
  .card-container .card{ grid-template-columns:1fr; }
  .card-container .card > img{
    max-width:320px; justify-self:center;
  }
  .card-container .card-body{ padding:14px; }
}
