.detail{
  margin:16px 12px 10px;
  font-size:27px;
}

.card-container{
  padding:10px;
}

.card-container .card{
  display:grid;
  grid-template-columns:300px 1fr; 
  gap:20px;
  border-radius:14px;
}

.card-container .card .poster{
  width:100%;
  border-radius:10px;
}

.card-container .card .card-body p{
  margin:6px 0;
}

.card-container .card .card-body strong{ 
  color:rgb(120,148,33); 
}

@media (max-width: 768px){
  .card-container .card{
    grid-template-columns:1fr;
  }
  .card-container .card .poster{
    max-width:320px;
    justify-self:center; 
  }
  .card-container .card .card-body h2{ font-size:22px; }
}

@media (max-width: 425px){
  .card-container .card .card-body h2{ font-size:20px; }
}
